.image-gallery-content .image-gallery-slide .image-gallery-image {
    width: 90%;
    max-height: 400px;
    padding: 0 8% 10px 8%;
    object-fit: cover;
}

.fullscreen .image-gallery-slide img {
    max-height: 100vh;
}