.input_wrapper {
   margin-bottom: 25px;
  input {
    margin: 0 auto;
    display: block;
    width: 60%;
  }
}


.search_container {
  margin-top: 4%;
  font-family: "Roboto Condensed", sans-serif;
}